.navbar {
  height: 68px;
  background-color: black; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
  box-sizing: border-box;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar-logo:hover {
  opacity: 0.85;
}

.navbar-search {
  display: flex;
  align-items: center;
  width: 40%;
}

.navbar-search input {
  flex: 1;
  height: 40px;
  padding: 0 18px;
  border: none;
  outline: none;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.search-btn {
  height: 40px;
  padding: 0 24px;
  border: none;
  background-color: white;
  color: #d32f2f;
  font-weight: 600;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-btn:hover {
  background-color: #f5f5f5;
}


.rightNav {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navItem {
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.navItem:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
